html{
  font-family: 'Fjalla One', sans-serif;
}

body {
  
  display: flex;
}



.bgImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 1500px;
  height: 1500px;
  z-index: -1;
  animation: fadeIn .5s linear;
}

@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}